<mat-card class="joke-card">
  <mat-card-content>
    <div class="joke-card__container">
      <div class="joke-card__top-right">
        <button mat-icon-button aria-label="Favorite">
          <mat-icon>star_border</mat-icon>
        </button>
        <button mat-icon-button aria-label="Like">
          <mat-icon>favorite_border</mat-icon>
        </button>
        <!-- <mat-icon class="pointer" aria-hidden="false" aria-label="Favorite" fontIcon="star_border"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Like" fontIcon="favorite_border"></mat-icon> -->
      </div>
      <div class="joke-card__content">
        <strong class="joke-card__setup">{{ joke.setup}}</strong>
        <p class="joke-card__punchline">{{ joke.punchline }}</p>
      </div>
      <div class="joke-card__bottom-social"></div>
    </div>
  </mat-card-content>
</mat-card>
