<mat-card class="joke-card">
  <mat-card-content>
    <div class="joke-card__container">
      <div class="joke-card__top-right">
        <button mat-icon-button aria-label="Like" (click)="togglePreferred(storageKeys.LIKED_JOKES)">
          <mat-icon>{{ joke.liked ? 'star' : 'star_border'}}</mat-icon>
        </button>
        <button mat-icon-button aria-label="Favorite" (click)="togglePreferred(storageKeys.FAVORITE_JOKES)">
          <mat-icon>{{ joke.favorite ? 'favorite' : 'favorite_border'}}</mat-icon>
        </button>
      </div>
      <div class="joke-card__content">
        <strong class="joke-card__setup">{{ joke.setup}}</strong>
        <p class="joke-card__punchline">{{ joke.punchline }}</p>
      </div>
      <div class="joke-card__bottom-social"></div>
    </div>
  </mat-card-content>
</mat-card>
