.joke-category {
  &__joke-card {
    margin: 3em 2em;
    max-width: 450px;
    width: 100%;
  }
  &__cards-view {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2em;
  }
  &__view-options {
    margin: 3.5em 0 1em 0;
    display: flex;
    color: #fff;
  }
  &__view-type {
    cursor: pointer;
  }
}
