.make-us-laugh {
  &__title {
    font-size: 3rem;
    margin-bottom: 1em;
  }
  &__form {
    max-width: 20em;
    width: 100%;
    mat-form-field {
      width: 100%;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
