<div class="make-us-laugh">
  <div class="make-us-laugh__title-container">
    <h1 class="make-us-laugh__title rj-title">Let's Hear Your Best Joke! 😂</h1>
  </div>
  <form class="make-us-laugh__form" (submit)="submit()" [formGroup]="presenter.form">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Joke type</mat-label>
        <mat-select formControlName="type">
        @for (jokeType of presenter.jokeTypes(); track jokeType) {
          <mat-option value="{{jokeType.name}}">{{ jokeType.name }}</mat-option>
        }
        </mat-select>
        @if (presenter.type.invalid) {
          <mat-error>Don't miss the type!</mat-error>
        }
      </mat-form-field>
    </p>
    <p>
    <mat-form-field appearance="outline">
      <mat-label>Setup</mat-label>
      <input matInput formControlName="setup">
      @if (presenter.setup.invalid) {
        <mat-error>Don't miss the setup!</mat-error>
      }
    </mat-form-field>
    </p>
    <p>
    <mat-form-field appearance="outline">
      <mat-label>Punchline</mat-label>
      <textarea matInput formControlName="punchline"></textarea>
      @if (presenter.punchline.invalid) {
        <mat-error>Don't miss the punchline!</mat-error>
      }
    </mat-form-field>
    </p>
    <div class="make-us-laugh__buttons">
      <button mat-flat-button color="primary" type="button" [routerLink]="['/']">Cancel</button>
      <button mat-flat-button color="accent" type="submit">Save!</button>
    </div>
  </form>
</div>
